@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #fff1ea;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.gradient-bg {
  background: rgb(253, 89, 0);
  background: linear-gradient(
    90deg,
    rgba(253, 89, 0, 1) 0%,
    rgba(255, 180, 140, 1) 64%
  );
  border-radius: 8px;
  box-shadow: 0px 8px 20px 0px rgba(234, 82, 2, 0.16);

  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.gradient-bg:hover {
  transition: all ease-in 0.5s;
  transform: scale(1.1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
