@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-icon: #060606;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: #fff1ea;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.gradient-bg {
  background: #fd5900;
  background: linear-gradient(
    90deg,
    rgba(253, 89, 0, 1) 0%,
    rgba(255, 180, 140, 1) 64%
  );
  border-radius: 8px;
  box-shadow: 0px 8px 20px 0px rgba(234, 82, 2, 0.16);

  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.btn-hover-1:hover {
  background: #eaeaea80 !important;
  /* border: 1px solid "#06060680" !important; */
  border-color: #eaeaea !important;

  cursor: pointer;
}

.secondary-button {
  background: #eaeaea;
  color: #06060680;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.secondary-button:hover {
  background: #eaeaea;
  border: 1px solid #06060680;
}

.btn-hover-2:hover {
  cursor: pointer;
  box-shadow: none;
  box-shadow: 0px 8px 20px 0px #ea520229;

  /* box-shadow: none; */
}

.btn-hover-2:hover * {
  color: #fd5900;
}

.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2306060680' stroke-width='1' stroke-dasharray='10' stroke-dashoffset='14' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

input:focus {
  border-color: #fd5900 !important;
  border-width: 1px !important;
  caret-color: #fd5900;
  --primary-icon: red;
}

input:focus + .icon-container > svg > path {
  fill: #fd5900 !important;
  fill-opacity: 1;
}

.category-selection:focus + .cat-select-icon-container > svg > path {
  stroke: #fd5900 !important;
}

.active-option {
  background-color: #fff1ea;
  color: #fd5900;
}

.primary-shadow {
  box-shadow: 0px 4px 12px 0px #00000014;
}

.action-btn:hover {
  -webkit-box-shadow: 0px -1px 8px 0px #00000045;
  -moz-box-shadow: 0px -1px 8px 0px #00000045;
  box-shadow: 0px -1px 8px 0px #00000045;
  border-radius: 8px;
  cursor: pointer;
}
